body{
    font-family: 'Comic Sans MS';
}

.container{
    width: 600px;
    height: 350px;
    margin:150px auto;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espaco{
    height: 20px;
}

.busca{
    font: 20px;
    margin-bottom:50px;
    letter-spacing: 3px;
}

input, button{
    width: 400px;
    border:3px groove;
    font-family:'Comic Sans MS';
    background: white;
    font-size: 16px;
}

.cep{
    font-size:16px;
    float:left;
    width:400px;
    font-weight:bold;
}

.btnfecha{
    width:100px;
}

/*#btnfecha {
    height: 50px;
    width: 180px;
    background: #fff;
    color: #333;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    border: none;
    box-shadow: 0 3px 5px rgb(0,0,0,.3);
}*/

#btnfecha:hover {
        letter-spacing: 4px;
        opacity: .8;
}

.model-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.3);
    transform: scale(0);
}

    .model-container .model {
        height: 290px;
        width: auto;
        background: #fff;
        text-align: center;
        border: solid 2px black;
        align-items: center;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }


.model-container .model .fa-times {
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    float: right;
}

.model-container .model input {
    width:250px;
}

.col {
    display: table-cell;
    border-bottom: solid 2px black;
}

.row {
    display: table-row;
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

.label {
    text-align: left;
    float: left;
}

.btnclose {
    text-align: right;
    float: right;
    width: auto;
}
.topo {
    width: auto;
    border-bottom: solid 2px black;
    text-align:left;
}

.model-container .model button {
    border:0;
    width:60px;
}
